.top-container{
    background-color: black;
    position: relative;
    padding-top: 10%;
    padding-bottom: 23%;
    text-align: center;
}

.middle-container{
    background-color: black;
    position: relative;
    padding-top: 2%;
    padding-bottom: 2%;
}

.bottom-container{
    background-color: black;
    /*position: relative;*/
    padding-top: 2%;
    padding-bottom: 2%;
}

body {
    margin: 0;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

.i\'m-philopatear{
    color: yellow;
    font-family: 'Poiret One', cursive;
    font-size: 9rem;
    font-weight: lighter;
    position: relative;
}

h2{
    color: yellow;
    font-family: 'Poiret One', cursive;
}

h3{
    color: yellow;
    font-family: 'Poiret One', cursive;
}

p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

hr{
    height: 1px;
    width: 20%;
    border: 0;
    border-top: 1px solid yellow;
}

.a-software-engineer{
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    font-weight: lighter;
    margin: auto;
}

span{
    color: yellow;
    font-weight: bolder;
}

.social-link{
    color: yellow;
}

.mail{
    color: yellow;
}

.philo{
    color: white;
}

.skills-paragraph{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.philo-photo{
    float: left;
}
