.top-container{
    background-color: black;
    position: relative;
    padding-top: 100px;    
}

.middle-container{
    background-color: red;
    width: 200px;
    height: 200px;
}

.bottom-container{
    background-color: blue;
    height: 200px;
    width: 200px;
}

body {
    margin: 0;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

h1{
    color: white;
    font-family: "Poiret", monospace;
}

p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.soft{
    text-decoration: underline #fbfc00;
}

.bottom-mountain{
    position: absolute;
    bottom: 0;
}

.top-cloud{
    position: absolute;
    right: 26%;
    bottom: 84%;
}


.bottom-cloud{
    position: absolute;
    bottom: 50%;
}

.behind-cloud{
    position: absolute;
    bottom: 30%;
    right: 30%;
}
