.top-container{
    background-color: black;
    position: relative;
    padding-top: 10%;
    padding-bottom: 23%;
    text-align: center;
}

.middle-container{
    background-color: black;
    position: relative;
    padding-top: 2%;
    padding-bottom: 2%;
}

.bottom-container{
    background-color: black;
    position: relative;
    padding-top: 2%;
    padding-bottom: 2%;
}

body {
    margin: 0;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

.i\'m-philopatear{
    color: yellow;
    font-family: 'Poiret One', cursive;
    font-size: 900%;
    position: relative;
}

h2{
    color: yellow;
    font-family: 'Poiret One', cursive;
}

h3{
    color: yellow;
    font-family: 'Poiret One', cursive;
}

p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

hr{
    height: 1px;
    width: 20%;
    border: 0;
    border-top: 1px solid yellow;
}

.a-software-engineer{
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    font-size: 120%;
    position: absolute;
    bottom: 44%;
    left: 44%;
}

.bottom-mountain{
    position: absolute;
    bottom: 0;
}

.top-cloud{
    position: absolute;
    right: 26%;
    bottom: 84%;
}

.bottom-cloud{
    position: absolute;
    bottom: 50%;
}

.behind-cloud{
    position: absolute;
    bottom: 30%;
    right: 30%;
}

span{
    color: yellow;
}

.social-link{
    color: yellow;
}

.mail{
    color: yellow;
}
